.content {
    width: 1000px;
    margin: 20px auto;
    background: white;
    padding-bottom: 4px;
}
.nav_bar {
    margin: 0;
    border-bottom: 1px solid #65B336;
}
.content .list {
    width: 100%;
}
.content .list li {
    margin: 15px;
    width: 100%;
    height: 300px;
}
.content .list li .pic {
    float: left;
    width: 210px;
    height: 300px;
}
.content .list li .txt {
    float: left;
    margin-left: 20px;
}
.content .list li .txt p {
    width: 650px;
    margin-top: 10px;
}
.content .list li .txt .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content .list li .txt .movie_name {
    font-size: 20px;
    font-weight: bold;
}
.content .list li .action_block {
    float: left;
    width: 80px;
    padding-top: 10px;
}
.content .list li .blue_a {
    margin-top: 15px;
}