.nav_bar {
    width: 1000px;
    height: 50px;
    margin: 20px auto;
    background: white;
    line-height: 50px;
}
.nav_title {
    float: left;
    height: 50px;
}
.nav_title .menu {
    padding:0;
    font:16px verdana, arial, sans-serif;
    font-weight: bold;
}
.nav_title .menu li {
    float: left;
}
.nav_title .menu li a {
    display:block;
    width:100px;
    height:50px;    
    text-align:center;
    line-height: 50px;
    color: #65B336;
    background: #fff;
}
.nav_title .menu li a:hover {
    color: white;
    background: #9CD17B;
}
.nav_title .menu .chked {
    background: #65B336;
    color: white;
}
.nav_title .menu .chked:hover {
    background: #65B336;
    color: white;
}
.nav_title .menu li a.last {
    border-right:0; /* 去掉左侧边框 */
}
.nav_right {
    float: right;
    margin-right: 20px;
}
.divider {
    color: #ccc;
}